.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    max-width: 100vw;
    width: 100%;
    background: #049DBF;
}

.headerMenuLeft {
    display: flex;
    align-items: center;
}

.headerLogo {
    margin-right: 40px;
    width: 147px;
    height: 46px;
}

.headerLogoImg {
    max-width: 100%;
}

.headerSearch {
    margin-right: 20px;
}

.headerSearchInput {
    width: 250px;
    padding: 13px 10px 13px 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 5px;
}

.headerMenuLeftItem {
    margin-right: 20px;
    width: 16px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.headerMenuRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMenuCounter {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    width: 390px;
    height: 45px;
}

.headerMenuCounterItem {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-right: 5px;
}

.headerMenuOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.headerMenuRightItem {
    margin-right: 30px;
    width: 16px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.headerMenuAvatar {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 55%;
    height: 70px;
}

.headerMenuAvatarImage {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-right: 10px;
}

.headerMenuAvatarImg {
    max-width: 100%;
    border-radius: 100%;
}

.headerMenuAvatarName {
    height: 36px;
    width: 108px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
