body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: rgba(4, 157, 191, 0.1);
  color: #51595e;
}

*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(232, 227, 227, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: #c5c3c3;
  outline: 1px solid #e8eaec;
  border-radius: 5px;
}

*::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
}
*::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
}
*::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
}
*:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: calc(100% - 360px);
  margin: 0 auto;
}

.title_fz2 {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  letter-spacing: 0.5px;
  font-weight: 700;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.5s;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(81, 89, 94, 0.6);
}

.btnBlue {
  background: rgba(4, 157, 191, 1);
  color: #ffffff;
}
.btnBlue:hover,
.btnBlue:focus {
  background: rgba(4, 157, 191, .7);
}
.btnWhite {
  background: #ffffff;
  color: rgba(4, 157, 191, 1);
  font-weight: 600;
  border: 2px solid rgba(4, 157, 191, 1) !important;
}
.btnWhite:hover,
.btnWhite:focus {
  background: rgba(4, 157, 191, .2);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

